<a href="https://colab.research.google.com/github/kajal-bot/letsupgrate/blob/master/ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


lst =["kajal",10,23,123.5,222]

lst

lst.append("yash")
lst
lst.copy()

['kajal', 10, 23, 123.5, 222, 'yash']

In [ ]:
lst=["ravi",1.2,[1,2,3],"rohan"]
lst
lst.pop(2)

[1, 2, 3]

In [ ]:
lst=["abc","xyz",1.5,2.6,11]
lst
lst.count(1.5)

1

In [ ]:
lst=["raj","sai",23,"xyz"]
lst
lst.index(23)

2

# Dictionaries

In [ ]:
dit={"name":"kajal","age":25,"job":"MR"}
print(dit)

{'name': 'kajal', 'age': 25, 'job': 'MR'}

In [ ]:
dit={"name":"akki","age":30,"job":"CA"}
print(dit)
#print keys
dit['age']=26
print(dit.keys())
#Add new item
dit["school"]="nutan"
print("\n dict item :",dit)
#pop item
print("\n removed item :",dit.popitem())
print("\n dict item :",dit)
#update
dit.update({'ran':'house','show':'two'})
print(dit)

{'name': 'akki', 'age': 30, 'job': 'CA'}
dict_keys(['name', 'age', 'job'])

 dict item : {'name': 'akki', 'age': 26, 'job': 'CA', 'school': 'nutan'}

 removed item : ('school', 'nutan')

 dict item : {'name': 'akki', 'age': 26, 'job': 'CA'}
{'name': 'akki', 'age': 26, 'job': 'CA', 'ran': 'house', 'show': 'two'}

## **SETS**

In [ ]:
st={10,20,30,40,50}
print(st)
#add tuplr to  set
tup=(120,140,11)
st.add(tup)
print("new items=",st)
#copy set
copy_of_st =st.copy()
print(copy_of_st)

{40, 10, 50, 20, 30}
new items= {(120, 140, 11), 40, 10, 50, 20, 30}
{(120, 140, 11), 50, 20, 40, 10, 30}
{40, 10, 50, 20, 30}
new items= {(120, 140, 11), 40, 10, 50, 20, 30}
{(120, 140, 11), 50, 20, 40, 10, 30}

# TUple

In [ ]:
tup =("kaj",1,6,11,"rj",8)
print(tup)
#count
tup.count(11)
#index
tup.index('rj')

('kaj', 1, 6, 11, 'rj', 8)

4

# Boolen

IT is useful only to show thwe condition is true or not